* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
option,
select {
  outline: none;
  padding: 5px 10px;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

#form-scope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 48px;
  height: 100vh;
  background-color: none;
  background-color: #c7bebeaf;
}

.hidden {
  display: none !important;
}

.label-product {
  display: inline-block;
  min-width: 122px;
}

.scope-input {
  margin: 10px 0px 0px 0px;
}

.scope-input input {
  margin-top: 20px;
  width: 250px;
}

.form-product {
  width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c3c0c0;
  box-shadow: 1px 1px 1px 1px #999;
  height: fit-content;
}

.pointer {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 56px 0;
}

table,
th,
td {
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
  text-align: center;
}
main {
  background-color: rgb(232, 232, 232);
  padding: 10px;
  border-radius: 10px;
}

.page-item {
  display: inline-block;
  margin: 0 4px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #999999bb;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}

.page-active {
  background-color: rgb(0, 0, 255);
}

.page-item:hover {
  background-color: rgb(17, 255, 0);
}

.nav-bar {
  display: flex;
  justify-content: space-around;
}

.nav-bar div ul li {
  height: 50px;
  margin: 10px 0px;
}
.nav-bar div ul li:hover {
  background-color: rgb(25, 189, 178);

  border-radius: 5px;
}
.nav-bar div ul li:hover a {
  color: white;
  border-radius: 5px;
}
.nav-bar div ul li a {
  display: block;
  text-align: center;
  line-height: 50px;
  color: black;
}
.nav-bar div ul li:last-child {
  background-color: rgb(25, 189, 178);
  border-radius: 5px;
}
.nav-bar div ul li:last-child a {
  border-radius: 5px;
  color: white;
}

.nav-bar .main-form {
  padding: 10px;
}

.nav-bar .nav-menu {
  background-color: rgb(255, 227, 18);
  width: 200px;
  border-radius: 10px;
  
}
.search-form {
  background-color: bisque;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 3px;
}
.search-form:active {
  background-color: rgb(225, 255, 196);
}
.btn-active {
  background-color: rgb(88, 88, 255);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}
.btn-block {
  background-color: rgb(252, 74, 74);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}
.btn-status {
  border: none;
  background-color: #e8e8e8 ;
}
.btn-regiter {
  background-color: rgb(0, 132, 255);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
.btn-regiter:active {
  background-color: rgb(255, 242, 0);
  color: rgb(0, 0, 0);
}
.search-input{
  background-color: rgba(251, 211, 158, 0.879);
  border-radius: 5px;
  
}
.search-input:focus{
  
  background-color: rgb(192, 192, 192);
}
.previous{
  background-color: black;
  color: white;
  border-radius: 5px;
}
.previous:active{
  background-color: rgb(113, 255, 57);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.next{
  background-color: black;
  color: white;
  border-radius: 5px;
}
.next:active{
  background-color: rgb(113, 255, 57);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}